<?xml version="1.0" ?>

<!-- <world name="demo_world" gravity="0.0 0.0 -9.81"> -->
<world name="demo_world" gravity="0.0 0.0 0.0">

	<robot name="Kuka-IIWA">
		<model dir="../resources/01-WorskpaceExtensionSimu" path="kuka_iiwa.urdf" name="kuka_iiwa" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

<!-- 	<robot name="proxy">
		<model dir="../resources/01-WorskpaceExtensionSimu" path="proxy.urdf" name="proxy" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot> -->

	<robot name="proxy6d">
		<model dir="../resources/01-WorskpaceExtensionSimu" path="proxy6d.urdf" name="proxy6d" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<static_object name="Floor">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="3.0 3.0 0.1" />
	        </geometry>
	        <material name="material_gray">
		        <color rgba="0.5 0.3 0.3 1.0" />
	        </material>
	    </visual>
	</static_object>
 
	<static_object name="Part">
		<origin xyz="-0.4 0.0 0.45" rpy="0 0 0" />
	    <collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="0.45 0.45 0.1" />
	        </geometry>
	        <!-- <geometry>
	            <mesh filename="../../Model/part.obj" scale="1 1 1" />
	        </geometry> -->
	    </collision>
	    <visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <!-- <geometry>
	            <mesh filename="../../Model/part.obj" scale="1 1 1" />
	        </geometry> -->
	        <geometry>
	            <box size="0.45 0.45 0.1" />
	        </geometry>
	        <material name="material_red">
		        <color rgba="1 0.1 0.1 1.0" />
	        </material>
	    </visual>
	</static_object>


	<light name="light1" type="directional">
		<position xyz="-2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

<!-- 	<light name="light3" type="directional">
		<position xyz="-2.0 2.0 -2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light4" type="directional">
		<position xyz="-2.0 -2.0 -2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light> -->

	<camera name="camera">
		<position xyz="-2.0 0.0 2.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.8" />
	</camera>

	<!-- TODO: support stereo specification -->

</world>
